# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# switch for localhost | testnet | mainnet
NETWORK="localhost"

# base urls for generating the URLS as part of the seed data
BASE_URI_TOKEN_IMAGES=""
BASE_URI_CONTRACT_IMAGES=""
BASE_URI_TOKEN_EXTERNAL=""
BASE_URI_CONTRACT_EXTERNAL=""

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# MONGODB = "connector://user:password@host:port/database?key1=val1&key2=val2"
DATABASE_URL="connector://user:password@host:port/database?key1=val1&key2=val2"

# PUBLISHABLE_KEY from Immutable Hub
# This key is safe for client-side applications
PUBLISHABLE_KEY=""

# Immutable SANDBOX environments variables
TESTNET_CHAIN_NAME="imtbl-zkevm-testnet"
TESTNET_COLLECTION_CONTRACT_ADDR=""
TESTNET_SALEMINTER_CONTRACT_ADDR=""
TESTNET_DEPLOYER_ACCOUNT_ADDR="";
TESTNET_USER1_ACCOUNT_ADDR=""
TESTNET_USER2_ACCOUNT_ADDR=""

# Localhost environments variables
LOCALHOST_CHAIN_NAME="localhost"
LOCALHOST_COLLECTION_CONTRACT_ADDR=""
LOCALHOST_SALEMINTER_CONTRACT_ADDR=""
LOCALHOST_DEPLOYER_ACCOUNT_ADDR=""
LOCALHOST_USER1_ACCOUNT_ADDR=""
LOCALHOST_USER2_ACCCOUNT_ADDR=""